{% extends 'base.html.twig' %}

{% block nav %}
    {% for categorie in categories %}
        <li id="nav-item" class="nav-item">
            <a class="nav-link active" href="{{ path('second_page', {'id': categorie.id} ) }}"
            >{{ categorie.nom}} <span class="sr-only">(current)</span></a
            >
        </li>
    {% endfor %}
{% endblock %}
{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class="box-c1">
                    <div class="big-pic" id="big-pic"></div>
                    <div class="small-pic">
                        <img
                                id="default-pic"
                                src="/assets/upload/{{ article.images|first }}"
                                alt=""
                        />
                        {%  for image in article.images %}
                        <img
                                id="pic-2"
                                src="assets/upload/{{ image }}"
                                alt=""
                        />
                        {% endfor %}
                    </div>
                </div>

                <div class="box-c2">
                    <p class="name">{{ article.nom }}</p>
                    <p class="categorie">
                        <span>CATÉGORIE: </span>{{ article.souscategorie.nom }}
                    </p>
                    <p class="desc">
                        <span>Dimension: </span>{{article.dimension }} <br />
                        <span>Retour: </span> {{ article.retour}}
                    </p>
                    <form class="form-inline">
                        <div class="devis">
                            <button type="button" class="btn btn-success">
                                Demande de Devis
                            </button>
                            <input
                                    class="form-control form-control-lg input"
                                    type="number"
                                    value="1"
                            />
                        </div>
                    </form>

                    <div class="article-social">
                        <a href="#" target="_blank" rel="noopener noreferrer"
                        ><i class="fab fa-facebook"></i
                            ></a>
                        <a href="#" target="_blank" rel="noopener noreferrer"
                        ><i class="fab fa-instagram"></i
                            ></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
