{% extends 'base.html.twig' %}

{% block nav %}
    {% for categorie in categories %}
        <li id="nav-item" class="nav-item">
            <a class="nav-link active" href="{{ path('second_page', {'id': categorie.id} ) }}"
            >{{ categorie.nom}} <span class="sr-only">(current)</span></a
            >
        </li>
    {% endfor %}
{% endblock %}
{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class="box-c1">
                    <div class="big-pic" id="big-pic"></div>
                    <div class="small-pic">
                        
                        {%  for image in article.images %}
                        <img
                                src="/assets/upload/{{image}}"
                                alt=""
                        />
                        {% endfor %}
                       
                    </div>
                </div>
                <div class="box-c2">
                    <p class="name">{{ article.nom }}</p>
                    <p class="art-desc">{{ article.description }}</p>
                    <p class="categorie">
                        <span>Sous Catégorie: </span> {{ article.souscategorie.nom }}
                    </p>
                    <p class="dimention">
                        <span>Dimension:</span>
                        <br/>
                    <form>

                    <div class=" mb-3" name="dimension" id="dimension" >
                    {% for dim in article.tabDimension %}
                    <p class="dim"> -{{ dim }}</p>
                    {% endfor %}
                      </div>
                        <div class="form-inline">
                        <div class="devis">
                            <button type="submit" class="btn btn-success">
                                Demande de Devis
                            </button>
                            <input
                                    class="form-control form-control-lg input"
                                    type="number"
                                    value="1"
                                    name="number"
                            />
                        </div>
                        </div>
                    </form>

                    <div class="article-social">
                        <a href="#" target="_blank" rel="noopener noreferrer"
                        ><i class="fab fa-facebook"></i
                            ></a>
                        <a href="#" target="_blank" rel="noopener noreferrer"
                        ><i class="fab fa-instagram"></i
                            ></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="padding-bottom: 2rem;">
                        {% if article.sousTitre1 is not null  %}
                        <p class="art-sous-title"> <i class="fas fa-hand-point-right"></i> {{ article.sousTitre1 }}</p>
                        {% endif %}
                        {% if article.desc1SousT1 is not null  %}
                        <p class="art-des-sous-title">- {{ article.desc1SousT1 }}</p>
                        {% endif %}
                        {% if article.desc2SousT1 is not null  %}
                        <p class="art-des-sous-title">- {{ article.desc2sousT1 }}</p>
                        {% endif %}
                        {% if article.desc3SousT1 is not null  %}
                        <p class="art-des-sous-title">- {{ article.desc3sousT1 }}</p>
                        {% endif %}
                        {% if article.sousTitre2 is not null  %}
                        <p class="art-sous-title"> <i class="fas fa-hand-point-right"></i> {{ article.sousTitre2 }}</p>
                        {% endif %}
                        {% if article.desc1SousT2 %}
                        <p class="art-des-sous-title">- {{ article.desc1SousT2 }}</p>
                        {% endif %}
                        {% if article.desc2SousT2 %}
                        <p class="art-des-sous-title">- {{ article.desc2sousT2 }}</p>
                        {% endif %}
                        {% if article.desc3SousT2 %}
                        <p class="art-des-sous-title">- {{ article.desc3sousT2 }}</p>
                        {% endif %}
                        {% if article.sousTitre3 %}
                        <p class="art-sous-title">  <i class="fas fa-hand-point-right"></i> {{ article.sousTitre3 }}</p>
                        {% endif %}
                        {% if article.desc1SousT3 %}
                        <p class="art-des-sous-title">- {{ article.desc1SousT3 }} </p>
                        {% endif %}
                        {% if article.desc2SousT3 %}
                        <p class="art-des-sous-title">- {{ article.desc2sousT3 }}</p>
                        {% endif %}
                        {% if article.desc3SousT3 %}
                        <p class="art-des-sous-title">- {{ article.desc3sousT3 }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
