{% extends 'base.html.twig' %}

{% block nav %}
    {% for categorie in categories %}
        <li id="nav-item" class="nav-item">
            <a class="nav-link active" href="{{ path('second_page', {'id': categorie.id} ) }}"
            >{{ categorie.nom}} <span class="sr-only">(current)</span></a
            >
        </li>
    {% endfor %}
{% endblock %}
{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class="box-c1">
                    <div class="big-pic" id="big-pic"></div>
                    <div class="small-pic">

                        {%  for image in project.images %}
                            <img
                                    src="/assets/upload/{{image}}"
                                    alt=""
                            />
                        {% endfor %}

                    </div>
                </div>

                <div class="box-c2">
                    <p class="name">{{ project.nom }}</p>
                    <p class="categorie">
                    </p>
                    <p class="desc">
                        <span>Description: </span>{{project.dimension }} <br />
                        <span>Retour: </span> {{ project.retour}}
                    </p>
                   

                    <div class="article-social">
                        <a href="#" target="_blank" rel="noopener noreferrer"
                        ><i class="fab fa-facebook"></i
                            ></a>
                        <a href="#" target="_blank" rel="noopener noreferrer"
                        ><i class="fab fa-instagram"></i
                            ></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
