<center>
    <div class="btn-group-xs" id="group_buttons">
        <a href="{{ path('add_article',{'id':article.id}) }}" style="margin-left: 3px;"
           class="btn btn-primary waves-effect"
           data-toggle="tooltip" title="" data-original-title="Edit"><i class="fa fa-edit white"></i>
        </a>
        <a href="{{ path('admin_delete_article',{'id':article.id}) }}" style="margin-left: 3px;"
           class="btn bg-danger waves-effect"
           data-toggle="tooltip" title="" data-original-title="Edit"><i
                    class="fa fa-trash white"></i>
        </a>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter{{ article.id }}">
            P
        </button>
    </div>
</center>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="{{ path('admin_promotion_article',{'id':article.id}) }}" method="post">
              <input type="number" name="promotion" class="form-control">
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-warning">Promotion</button>
              </div>
          </form>

      </div>
    </div>
  </div>
</div>