{% extends 'base.html.twig' %}

{% block nav %}
    {% for categorie in categories %}
        <li id="nav-item" class="nav-item">
            <a class="nav-link active" href="{{ path('second_page', {'id': categorie.id} ) }}"
            >{{ categorie.nom}} <span class="sr-only">(current)</span></a
            >
        </li>
    {% endfor %}
{% endblock %}
{% block body %}
<!-- Thez ken li fel main -->
<main>
    <div class="container categorie-container">
        <div class="row">
            <h2 class="title">Nos Services</h2>
            <br/>
            <p class="categorie-container-desc">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, enim.
            </p>
        </div>
        <div class="row categorie-row">

                {% for service in services %}
            <a class="box-a" href="{{ path('sous_service',{'id':service.id}) }}">
                <div class="pic-wrapper">
                    <img
                            src="/assets/upload/{{ service.image }}"
                            alt="not loaded"
                    />
                    <p class="details">
                        Voir plus <i class="fas fa-angle-double-right"></i>
                    </p>
                </div>
                <div>
                    <p class="name" style="margin-bottom: .7rem;">{{ service.nom }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
