{% extends 'adminBase.html.twig' %}
{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" style="text-align: center">Liste des categories</h6>
        </div>
        <div class="card-body">
            {% for message in app.flashes('deleted') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <form action="{{ path('sous_categorie_list') }}" method="post">
            <div class="form-group" style="display:inline-block; width:15rem">
                <label for="exampleFormControlSelect1">sélectionner une catégorie</label>
                <select class="form-control" id="exampleFormControlSelect1" name="categorie ">
                    {% for categorie in categories %}
                    <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="table-layout: fixed">
                    <thead>
                    <tr>
                        <th>categorie</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for souscategorie in souscategories %}
                        <tr>
                            <td>{{ souscategorie.categorie.nom }}</td>
                            <td>{{ souscategorie.nom }}</td>
                            <td>{{ souscategorie.description }}</td>
                            <td><img src="/assets/upload{{  asset(souscategorie.image) }}" alt="" class="img-fluid px-2 px-sm-3 mt-2 mb-3 "></td>
                            <td>
                                <a href="{{ path('add_sous_categorie', {'id': souscategorie.id } ) }}">
                                    <i class="fas fa-fw fa-cog"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <center>
    <nav aria-label="Page navigation example" class="" >
        <ul class="pagination">
            {% for p in 1..nbpage %}
                <li class="page-item"><a href="{{ path('sous_categorie_list', {'page': p}) }}" class="page-link">{{ p }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    </center>

{% endblock %}